.catagory {
  &_items {
    padding: 69px 0px 104.07px 0px;
    &_title {
      margin-bottom: 73.8px;

      h3 {
        font-family: "Oxygen", sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
      }
    }

    &_cardBranch {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        margin: 0 auto;
        margin-bottom: 20px;
        text-decoration: none;
        .Card {
          width: 296px;
          border: 1px solid #6d6e76;

          .card_items {
            padding: 36.39px 0px 0px 44px;

            .card_items_img {
              width: 50px;
              border-radius: 10px;
              padding: 11px 12px 12px 12px;
            }

            .card_items_title {
              margin-bottom: 3.29px;

              h4 {
                font-family: "Oxygen", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: -1px;
                color: #232536;
              }
            }

            .card_items_desc {
              margin-bottom: 26.33px;
              p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #6d6e76;
              }
            }
          }
        }
      }

      .Card:hover {
        background-color: $yellow;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        .card_items_img {
          background: #fbf6ea;
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .catagory_items_cardBranch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      margin: 0 auto;
      margin-bottom: 20px;
      text-decoration: none;
      .Card {
        width: 100%;
        border: 1px solid #6d6e76;

        .card_items {
          padding: 36.39px 0px 0px 44px;

          .card_items_img {
            width: 50px;
            border-radius: 10px;
          }

          .card_items_title {
            margin-bottom: 3.29px;

            h4 {
              font-family: "Oxygen", sans-serif;
              font-weight: 700;
              font-size: 28px;
              line-height: 40px;
              letter-spacing: -1px;
              color: #232536;
            }
          }

          .card_items_desc {
            margin-bottom: 26.33px;
            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              color: #6d6e76;
            }
          }
        }
      }
    }

    .Card:hover {
      background-color: $yellow;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      .card_items_img {
        background: #fbf6ea;
      }
    }
  }
}
